# Data Science Tools and Ecosystem

## Author
Tanisha Vaishampayan

## In this notebook, data science tools and ecosystems are summarised.

**objectives**
- listing popular data science languages
- listing popular libraries used by data scientists
- tabulating popular data science open source tools
- trying arithemtic expressions in python

### Some of the popular languages that data scientists use are: -

1. Python
2. R
3. SQL
4. Java
5. Julia

### Some of the commonly used libraries by data scientists include: -

1. Pandas
2. NumPy
3. Seaborn
4. Scikit-learn

|Data Science tools |
|------------------ |
|RStudio |
|Apache Spark |
|TensorFlow |
|Apache Hadoop|

### Below are a few examples of arithmetic expressions in Python: -

In [4]:
1+2

3

In [5]:
11*4

44

In [6]:
56/7

8.0

In [7]:
5-5

0

In [8]:
# this is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [9]:
# this will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335